<% @body_class = 'esportes esportes_index area-esportes pagina-home-area' %>

<header class="titulo-area">
  <h1><a href="#">Esportes</a></h1>
</header>

<div id="content-inner">
  <div id="main">
    <section class="listagem-artigos">
      <div class="destaque destaque-secundario">
        <a href="#">
          <span class="foto">
            <img width="300" height="170" src="/assets/destaque-entretenimento.jpg" />
          </span>
          <span class="conteudo">
            <h1>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</h1>
            <h2>Lorem lipsum dolor sit amet consectue lorem doren lipsum amet</h2>
          </span>
        </a>
      </div>
      <!--end .destaque-terciario-->
      <div class="destaque destaque-terciario">
        <a href="#">
          <span class="foto">
            <img width="100" height="65" src="/assets/secundaria-entretenimento-01.jpg" />
          </span>
          <span class="conteudo">
            <h1>Caso do ‘morto-vivo’ que parou o próprio velório na BA repercute fora do país</h1>
            <h2>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</h2>
          </span>
        </a>
      </div>
      <!--end .destaque-terciario-->
      <div class="destaque destaque-terciario">
        <a href="#">
          <span class="foto">
            <img width="100" height="65" src="/assets/secundaria-entretenimento-02.jpg" />
          </span>
          <span class="conteudo">
            <h1>Caso do ‘morto-vivo’ que parou o próprio velório na BA repercute fora do país</h1>
            <h2>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</h2>
          </span>
        </a>
      </div>
      <!--end .destaque-terciario-->
    </section>
    <!--end #destaques-noticias-->
  </div>
  <div id="sidebar">
    <section class="share-noticia">
      <header>
        <h1>Envie sua notícia</h1>
      </header>
      <form action="" method="get">
        <div class="form-row">
          <div class="form-label">
            <label for="field-nome-share">Nome:</label>
          </div>
          <div class="form-field">
            <input id="field-nome-share" type="text">
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <label for="field-email-share">Email:</label>
          </div>
          <div class="form-field">
            <input id="field-email-share" type="email">
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <label for="field-titulo-share">Título da notícia:</label>
          </div>
          <div class="form-field">
            <input id="field-titulo-share" type="text">
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <label for="field-comentario-share">Descreva seu comentário:</label>
          </div>
          <div class="form-field">
            <textarea id="field-comentario-share" rows="6"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label"></div>
          <div class="form-field">
            <button class="small button" type="Submit">Enviar</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
