<% @body_class = 'index' %>
<div id="content-inner">
  <section class="destaques-categoria area-noticias">
    <header>
      <h1><a title="Notícias" href="#">Notícias</a></h1>
    </header>
    <div class="destaque destaque-secundario"><a href="#">
      <span class="foto"><img width="300" height="170" src="/assets/destaque-noticia.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
    <div class="destaque destaque-terciario"><a href="#">
      <span class="foto"><img width="100" height="65" src="/assets/secundaria-noticias-01.jpg" /></span><span class="conteudo">
        <p>Caso do ‘morto-vivo’ que parou o próprio velório na BA repercute fora do país</p>
      </span></a></div>
    <!--end .destaque-terciario-->
    <div class="destaque destaque-terciario"><a href="#">
      <span class="foto"><img width="100" height="65" src="/assets/secundaria-noticias-02.jpg" /></span><span class="conteudo">
        <p>Caso do ‘morto-vivo’ que parou o próprio velório na BA repercute fora do país</p>
      </span></a></div>
    <!--end .destaque-terciario-->
  </section>
  <!--end #destaques-noticias--><!--begin #destaques-esportes-->
  <section class="destaques-categoria area-esportes">
    <header>
      <h1><a title="Esportes" href="#">Esportes</a></h1>
    </header>
    <div class="destaque destaque-secundario"><a href="#">
      <span class="foto"><img width="300" height="170" src="/assets/destaque-esporte.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
    <div class="destaque destaque-terciario"><a href="#">
      <span class="foto"><img width="100" height="65" src="/assets/secundaria-esportes-01.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
    <div class="destaque destaque-terciario"><a href="#">
      <span class="foto"><img width="100" height="65" src="/assets/secundaria-esportes-02.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
  </section>
  <!--end #destaques-esportes--><!--begin #destaques-entretenimento-->
  <section class="destaques-categoria area-entretenimento">
    <header>
      <h1><a title="Entretenimento" href="#">Entretenimento</a></h1>
    </header>
    <div class="destaque destaque-secundario"><a href="#">
      <span class="foto"><img width="300" height="170" src="/assets/destaque-entretenimento.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
    <div class="destaque destaque-terciario"><a href="#">
      <span class="foto"><img width="100" height="65" src="/assets/secundaria-entretenimento-01.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
    <div class="destaque destaque-terciario"><a href="#">
      <span class="foto"><img width="100" height="65" src="/assets/secundaria-entretenimento-02.jpg" /></span><span class="conteudo">
        <p>Acidente com ônibus deixa 30 feridos no RJ: ‘Ele veio voado’, diz motorista</p>
      </span></a></div>
    <!--end .destaque-terciario-->
  </section>
</div>