<% if notice %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<h3><%= @article.title %></h3>

<% if @article.published? %>
  <span class="label label-info">Publicado</span>
<% else %>
  <span class="label">Rascunho</span>
<% end %>

<% if @article.featured? %>
  <span class="label label-warning">Destaque</span>
<% else %>
  <span class="label">Normal</span>
<% end %>

<%== @article.body %>

<%= link_to 'Editar', edit_admin_article_path(@article), class: 'btn' %>
