<div class="destaque destaque-terciario">
  <%= link_to '#' do %>
    <span class="foto"><%= image_tag article.image.regular, width: 100, height: 65  %></span>
    <span class="conteudo">
      <p><%= article.title %></p>
    </span>
  <% end %>
</div>
