<div class="destaque destaque-terciario">
  <%= link_to [article.category, article] do %>
    <span class="foto"><%= image_tag article.image.thumb, width: 100, height: 65  %></span>
    <span class="conteudo">
      <h1><%= article.title %></h1>
      <h2><%= article.summary %></h2>
    </span>
  <% end %>
</div>
