<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      <%= Rails.application.assets.find_asset('email').to_s.html_safe %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
